<% layout("/layouts/boilerplate.ejs")%>

    <div class="card mb-3 mt-4 home-card">
        <div class="row ">
            <div class="col-md-4">
                <img src="/images/1.jpg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body mt-3">
                    <h3 class="card-title">Cardiovascular diseases</h3>
                    <p class="card-text  ">
                    <UL>
                        <LI>Cardiovascular diseases (CVDs) are the leading cause of death globally.</LI>
                        <LI>An estimated 17.9 million people died from CVDs in 2019, representing 32% of all global
                            deaths. Of these deaths, 85% were due to heart attack and stroke.</LI>
                        <LI>Over three quarters of CVD deaths take place in low- and middle-income countries.</LI>
                        <LI>Out of the 17 million premature deaths (under the age of 70) due to noncommunicable diseases
                            in 2019, 38% were caused by CVDs.</LI>
                        <LI>Most cardiovascular diseases can be prevented by addressing behavioural risk factors such as
                            tobacco use, unhealthy diet and obesity, physical inactivity and harmful use of alcohol.
                        </LI>
                        <LI>It is important to detect cardiovascular disease as early as possible so that management
                            with counselling and medicines can begin.</LI>

                    </UL>
                    </p>
                    <p class="card-text"><small class="text-body-secondary">
                        <a href="https://www.who.int/news-room/fact-sheets/detail/cardiovascular-diseases-(cvds)" class="home-a"><i>Source
                                : WHO</i></a></small></p>
                </div>
            </div>
        </div>
    </div>



    <div class="card mb-3 mt-4 home-card">
        <div class="row ">
            <div class="col-md-4">
                <img src="/images/2.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body mt-3">
                    <h3 class="card-title">What are cardiovascular diseases?</h3>
                    <p class="card-text  ">
                        Cardiovascular diseases (CVDs) encompass a range of disorders affecting the heart and blood vessels. These include:
                        <ul>
                            <li>
                                <b>Coronary Heart Disease:</b> A condition affecting the blood vessels supplying the heart muscle.
                            </li>
                            <li>
                                <b>Cerebrovascular Disease:</b> Affecting the blood vessels supplying the brain.
                            </li>
                            <li>
                                <b>Peripheral Arterial Disease:</b> Impacting the blood vessels supplying the arms and legs.
                            </li>
                            <li>
                                <b>Rheumatic Heart Disease: </b>Resulting from damage to the heart muscle and valves due to rheumatic fever.
                            </li>
                            <li>
                                <b>Congenital Heart Disease:</b> Present at birth, causing abnormalities in heart structure and function.
                            </li>
                            <li>
                                <b>Deep Vein Thrombosis and Pulmonary Embolism: </b> Involving blood clots in leg veins that may dislodge and travel to the heart or lungs.
                            </li>
                        </ul>
                    </p>
                    <p class="card-text"><small class="text-body-secondary">
                        <a href="https://www.who.int/news-room/fact-sheets/detail/cardiovascular-diseases-(cvds)" class="home-a"><i>Source
                                : WHO</i></a></small></p>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-3">

    <h3 CLASS="home-model-h3 mt-3 mb-3">
        <b>OUR MODEL</b>
    </h3>

    <h5 CLASS="home-model-h3 mt-3 mb-3">
        ATTRIBUTES
    </h5>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-4 mb-4 model">
        <div class="card me-5 mb-5" style="width: 22rem;">
            <img src="/images/age.png" class="card-img">
          </div>
          <div class="card me-5 mb-5" style="width: 22rem;">
            <img src="/images/weight.png" class="card-img">
          </div>
          <div class="card me-5 mb-5" style="width: 22rem;">
            <img src="/images/height.png" class="card-img">
          </div>
          <div class="card me-5 mb-5" style="width: 22rem;">
            <img src="/images/ap_hi.png" class="card-img">
          </div>
          <div class="card me-5 mb-5" style="width: 22rem;">
            <img src="/images/ap_lo.png" class="card-img">
          </div>
          <div class="card me-5 mb-5" style="width: 22rem;">
            <img src="/images/gender.png" class="card-img">
          </div>
          <div class="card me-5 mb-5" style="width: 22rem;">
            <img src="/images/gluc.png" class="card-img">
          </div>
          <div class="card me-5 mb-5" style="width: 22rem;">
            <img src="/images/cholesterol.png" class="card-img">
          </div>
    </div>

    <h5>
        ACCURACY
    </h5>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-4 mb-4 model">
        <div class="card me-5 mb-5" style="width: 22rem;">
            <img src="/images/knn.png" class="card-img">
          </div>
          <div class="card me-5 mb-5" style="width: 22rem;">
            <img src="/images/prediction.png" class="card-img">
          </div>
    </div>


